<div class="row">
    <div class="col-75">
        <div class="container">
            <form #customerInfo="ngForm" (ngSubmit)="payment()">
                    
          <div class="row">
            <div class="col-50">
                 <h3>pay</h3>
                <input type="text" id="cname" name="cardname"[(ngModel)]="pay.nameInCard" placeholder="Name in the card">
                <input type="text" id="ccnum" name="cardnumber" [(ngModel)]="pay.cardNumber" placeholder="Card Number">
                <input type="text" id="expmonth" name="expmonth" [(ngModel)]="pay.expMonth" placeholder="Exp Month">
                <input type="text" id="expyear" name="expyear"[(ngModel)]="pay.expYear" placeholder="Exp Year">

                <input type="text" id="cvv" name="cvv"[(ngModel)]="pay.cvv" placeholder="CVV">
                <button type="submit" class="btn btn-primary">Pay</button>

            </div>
            </div>
            </form>
             </div>
    </div>
    </div>
